header a{
    text-decoration: none; /* Remove underlining */
    color: black; /* Set the color to black or your preferred color */
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
}


ul.footer_list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around; 
    font-family: 'Roboto Condensed', sans-serif ;
    margin-top: 10px;
    text-decoration: none; /* Remove underlining */
    color: black; /* Set the color to black or your preferred color */

}

ul nav{
    text-decoration: none; /* Remove underlining */
    color: black; /* Set the color to black or your preferred color */
    justify-content: space-around; 
    font-family: 'Roboto Condensed', sans-serif ;
    margin-top: 10px;
}

.header_list li {
    margin: 0 1em;
}

main {
    flex: 1; 
    margin-top: 20px;
}

img {
    width: 100%;
    height: auto;
    display: block;
} 

footer{
    margin-top: 10px;
    font-size: 15px;
}

header {
    float: left; /* Set the float property to left */
}

/* drop down for members page */ 
/* Styles for the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
  }

  /* Style for the dropdown button */
  .dropdown button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }

  /* Style for the dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Style for the dropdown items */
  .dropdown-content a {
    padding: 12px 16px;
    display: block;
    color: #333;
    text-decoration: none;
    font-size: 15px;
  }

  /* Hover effect for dropdown items */
  .dropdown-content a:hover {
    background-color: #ddd;
  }

  /* Show the dropdown content when the dropdown button is clicked */
  .dropdown.active .dropdown-content {
    display: block;
  }

/* menu */ 

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  transition: 0.5s;
}

.menu li {
  list-style-type: none;
}

.menu li a {
  font-family: 'Roboto Condensed', sans-serif ;
  font-size: 25px;
  text-decoration: none;
  color: #333;
  padding: 40px 25px;
  line-height: 1;
  transition: 0.3s;       
}

.hamburger{
  position:relative;
  width: 30px;
  height: 4px;
  background: #333;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
}

.hamburger:before,
.hamburger:after{
  content: "";
  position: absolute;
  height: 4px;
  right: 0px;
  background: #333;
  border-radius: 10px;
  transition: 0.3s;
}

.hamburger:before{
  top: -10px;
  width: 20px;
}

.hamburger:after{
  top: 10px;
  width: 20px;
}

.toggle-menu{
  position: absolute;
  width: 30px;
  height: 100%;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
}

.hamburger ,
.toggle-menu{
  display: none;
}

.navigation input:checked ~ .menu{
  right: 0;
}


@media screen and (max-width: 990px) {
  .hamburger,
  .toggle-menu{
    display: block;
  }

  .menu{
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: -300px;
    background: #fff;
    width: 300px;
    height: 100%;
    transition: right 0.5s; 
    padding: 20px 0;
  }

  .menu li {
    margin-bottom: 15px; /* Increase margin between menu items for smaller screens */
}

  .toggle-menu {
    right: 0; 
  }

  .navigation input:checked ~ .menu {
    right: 0;
}

}

@media only screen and (max-width: 990px) {
  header span,
  nav ul li a,
  footer span {
      font-size: 1em; /* Adjust font size for smaller screens */
  }

  .image-container {
      margin: 0; /* Remove right margin on smaller screens */
  }
}