header a{
    text-decoration: none; /* Remove underlining */
    color: black; /* Set the color to black or your preferred color */
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
}


ul.footer_list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around; 
    font-family: 'Roboto Condensed', sans-serif ;
    margin-top: 10px;
    text-decoration: none; /* Remove underlining */
    color: black; /* Set the color to black or your preferred color */

}

ul nav{
    text-decoration: none; /* Remove underlining */
    color: black; /* Set the color to black or your preferred color */
    justify-content: space-around; 
    font-family: 'Roboto Condensed', sans-serif ;
    margin-top: 10px;
}

.header_list li {
    margin: 0 1em;
}

main {
    flex: 1; 
    margin-top: 20px;
}

img {
    width: 100%;
    height: auto;
    display: block;
} 

footer{
    margin-top: 10px;
    font-size: 15px;
}

header {
    float: left; /* Set the float property to left */
}

nav a {
float: right;
text-decoration: none; /* Remove underlining */
color: black; /* Set the color to black or your preferred color */
}

.menu ul {
display: flex;
justify-content: center;
align-items: center;
list-style: none;
margin: 0;
padding: 0;
}

.menu ul li {
margin-left: 25px; /* Adjust margin-left instead of margin-right */
font-family: 'Roboto Condensed', sans-serif ;
font-size: 25px;
}


/* drop down for members page */ 
/* Styles for the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
  }

  /* Style for the dropdown button */
  .dropdown button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }

  /* Style for the dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Style for the dropdown items */
  .dropdown-content a {
    padding: 12px 16px;
    display: block;
    color: #333;
    text-decoration: none;
    font-size: 15px;
  }

  /* Hover effect for dropdown items */
  .dropdown-content a:hover {
    background-color: #ddd;
  }

  /* Show the dropdown content when the dropdown button is clicked */
  .dropdown.active .dropdown-content {
    display: block;
  }

 /* media query for mobile*/
@media (max-width: 768px) {
  #menu-btn{
      display: inline-block;
  }
  
  .fa-times{
      transform: rotate(180deg);
  }

  .header .navbar{
      position: absolute;
      top: 99%;
      left: 0; right: 0;
      background: var(--white);
      border-top: .1rem solid var(--secondary);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  
  .header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a{
      display: block;
      margin: 2rem;
  }

  .home .slide .content{
      width: 40rem;
  }
  
  .home .slide .content h3{
      font-size: 4rem;
  }

  @media (max-width: 450px){

      html{
          font-size: 50%;
      }
      
      .home .slide .content h3{
          font-size: 3rem;
      }
  }
}